<h1>Add a Client for @Model.GetStylistName()</h1>

<form action="/@Model.GetStylistName()/@Model.GetId()/clientlist" method="post">
  <label for="client-name">Insert client name: </label>
  <input type="text" name="client-name" class="form-control">
  <br>
  <button type="submit" name="btnSubmit" class="btn btn-info">Submit</button>
</form>

<a href="/@Model.GetStylistName()/@Model.GetId()/clientlist">View Client List</a><br>
<a href="/">Homepage</a>
