<h1>Add Client</h1>

<form action="/client/list" method="post">
  <label for="client-name">Insert client name: </label>
  <input type="text" name="client-name" class="form-control">
  <br>
  <button type="submit" name="btnSubmit" class="btn btn-info">Submit</button>
</form>

<a href="/@Model.GetName()/@Model.GetId()/clientlist">View Client List</a><br>
<a href="/">Homepage</a>
